/*Simple CSS just for the site, addition of background color heading  and usage of font family*/

body{background-color:#F0F0AD;
}

h1{text-align:center;}
h3{text-decoration:underline;
letter-spacing:1.5px}
p{font-family: "Times New Roman", Times, serif;}