
//usage of different types of font, and font family. 
h1{text-align:center;
font-family:"Arial Black", Gadget, sans-serif}
body{background-color:#3070B3;}
table,th,tr,td{border:2px solid black;
border-collapse:collapse;}
th{font-family:"Comic Sans MS", cursive, sans-serif;}
//usage of anchor tag with special effects of hover
a:hover {
    color: #BBBB00;
}

//usage of defining a font using class method.
.font{
    font-family: Verdana, Geneva, sans-serif;
}
h3{font-family:"Comic Sans MS", cursive, sans-serif;}

